{% extends 'base.html.twig' %}


{% block stylesheet %}

{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    Todo list:
	<ul>
	{% for task in tasks %}

        <li> {{ task.name }} 
		status: 
		{% if task.status %} 
			Task completed
		{% else %}
			<a class="btn btn-primary " role="button" href="/task/{{ task.id }}/complete"> mark as completed </a>
		{% endif %}
		</li>

    {% endfor %}
    </ul>
	<a href="{{ path('new') }}" class="btn btn-success btn-lg" role="button">Create new task</a>
</div>
{% endblock %}
