{% extends 'base.html.twig' %}


{% block stylesheet %}

{% endblock %}
{% block body %}
<div clas="row">
	<div class="col-md-2 ">
			
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}    
	</div>	
</div>
{% endblock %}